// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';



// Font-Awesome
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

// Admin-Lte
@import '~admin-lte/dist/css/adminlte.css';
@import '~admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css';
@import '~admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css';

// <link rel="stylesheet"href="{{ asset('template/')}}/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"><link rel="stylesheet"href="{{ asset('template/')}}/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"> // Bootstrap
// @import '~bootstrap/scss/bootstrap';