.float {
    z-index: 99;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.btn-float {
    font-size: 18px;
    width: fit-content;
    height: 60px;
    background-color: #0c9;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.btn-float:nth-child(1) {
    background-color: #17a2b8;
}
.btn-float:nth-child(2) {
    margin-top: 15px;
}
.btn-float:hover i {
    margin-right: 15px;
}
.btn-float:hover {
    color: #fff;
    transform: scale(105%);
}
.btn-float:hover p {
    opacity: 100;
    max-width: 500px;
    overflow: hidden;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
}
.btn-float p {
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
    padding: 0;
    margin: 0;
}
