.p_indi {
    width: 15em !important;
}

.p_elem {
    width: 13em !important;
}

.alasan_pen {
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
    cursor: pointer;
}

.alasan_pen:hover {
    /* background-color: rgb(223, 223, 223); */
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.no_click_field {
    background-color: rgb(247, 247, 247);
}

.float {
    z-index: 99;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-float {
    font-size: 18px;
    width: fit-content;
    height: 60px;
    background-color: #0c9;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.btn-float:nth-child(1) {
    background-color: #17a2b8;
}

.btn-float:hover i {
    margin-right: 15px;
}

.btn-float:hover {
    color: #fff;
    transform: scale(105%);
}

.btn-float:hover p {
    opacity: 100;
    max-width: 500px;
    overflow: hidden;
}

.btn-float p {
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
    padding: 0;
    margin: 0;
}

tr td {
    /* background-color: #0c9 !important; */
    text-align: center !important;
}

tr td:nth-last-child(1),
tr td:nth-last-child(2) {
    text-align: center !important;
}
tr td:nth-child(2) {
    text-align: left !important;
}

.alasan_pen {
    position: relative;
}

.alasan_pen .edit_mark {
    color: #999;
    top: 10px;
    right: 10px;
    position: absolute;
}

[type="radio"] {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #000;
}

span.caption {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
    overflow: hidden;
}

span.caption:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #000;
}

.penilaian_check_field {
    position: relative;

    text-align: center;
    cursor: pointer;
}

.penilaian_check_field > * {
    margin: auto;
    display: block;
    text-align: center;
}

.penilaian_check_field label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 100%;
    height: max-content; */
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.penilaian_check_field .tooltiptext {
    visibility: hidden;
    width: 280px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /* top: -100%; */
    bottom: calc(51% + 84px);
    opacity: 70%;
}

.penilaian_check_field:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext.active {
    visibility: visible;
}

.nilai.skor_a {
    background-color: #0c9;
    color: #fff;
}

.nilai.skor_b {
    background-color: #ffb300;
    color: #fff;
}

.nilai.skor_c {
    background-color: yellow;
    color: #000;
}

.nilai.skor_d {
    background-color: red;
    color: #fff;
}

.hijau {
    color: rgb(255, 68, 68);
}

.incomplete {
    background-color: #ffb300;
    color: #fff;
}
