.p_indi {
    width: 15em !important;
}
.p_elem {
    width: 13em !important;
}
.alasan_pen {
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
    cursor: pointer;
}
.alasan_pen:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.no_click_field {
    background-color: rgb(247, 247, 247);
}
.float {
    z-index: 99;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.btn-float {
    font-size: 18px;
    width: fit-content;
    height: 60px;
    background-color: #0c9;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.btn-float:nth-child(1) {
    background-color: #17a2b8;
}
.btn-float:hover i {
    margin-right: 15px;
}
.btn-float:hover {
    color: #fff;
    transform: scale(105%);
}
.btn-float:hover p {
    opacity: 100;
    max-width: 500px;
    overflow: hidden;
}
.btn-float p {
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
    padding: 0;
    margin: 0;
}

tr td {
    /* background-color: #0c9 !important; */
    text-align: left !important;
}
tr td:nth-last-child(1),
tr td:nth-last-child(2),
tr td:nth-last-child(3),
tr td:nth-last-child(6),
tr td:nth-last-child(8) {
    /* background-color: pink !important; */

    text-align: center !important;
}
