th,
td {
    text-align: center !important;
    vertical-align: middle !important;
}
.text-start {
    text-align: start !important;
}
.sub-table {
    text-align: left !important;
}
.table-isi {
    background-color: rgba(0, 0, 0, 0.05);
}
.paper-preview {
    display: block;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
}
.content{
    position: relative;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  /* right: 15px; */
  z-index: 10;
}

.sticky + .card {
  /* margin-top: 156px; */
}