th,
td {
    text-align: center !important;
    vertical-align: middle !important;
}
.text-start {
    text-align: start !important;
}
.sub-table {
    text-align: left !important;
}
.table-isi {
    background-color: rgba(0, 0, 0, 0.05);
}
